# Start i3bar to display a workspace bar (plus the system information i3status if available)
bar {
	status_command i3status
	position bottom

## please set your primary output first. Example: 'xrandr --output eDP1 --primary'
#	tray_output primary
#	tray_output eDP1

	bindsym button4 nop
	bindsym button5 nop
	font xft:Noto Sans 10.5
	strip_workspace_numbers yes

	colors {
#       background $transparent
        background $i3_background
        statusline $i3_text
        separator  $i3_separator

#                                  border  backgr. text
        focused_workspace   $i3_color1  $i3_color4  $i3_text
        active_workspace    $i3_color2  $i3_color3  $i3_color5
        inactive_workspace  $i3_color2  $i3_color3  $i3_color6
        urgent_workspace    $i3_color4  $i3_color5  $i3_color7
    }
}

# hide/unhide i3status bar
bindsym $mod+m bar mode toggle
